{% load static %}
<!-- templates/first.html -->
<!--
    Diese Datei ist Teil einer Django-Webanwendung, die Daten von Bluetooth Low Energy (BLE) Geräten verarbeitet.
    Das Template verwendet die Django-Template-Sprache, um statische Dateien zu laden und URLs zu generieren.
    Es zeigt eine einfache Startseite mit Links zu verschiedenen BLE-Datenanalysetools.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLE Analyzer</title>
        <link rel="stylesheet" href="{% static 'css/simple.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>
<body>

<h1>BLE Analyzer</h1>
<p>Keep it (stupid) simple</p>
<a href="{% url 'list_ble_data' %}">BLE RAW List</a><br/>
<a href="{% url 'show_graph' %}">BLE RAW Graph</a><br/>
<a href="{% url 'db_analyze_group_by' %}">BLE DB Analyzer Table</a><br/>
<a href="{% url 'db_analyze_graph_by_date' %}">BLE DB Analyzer Graph</a><br/>
</body>
</html>